In [1]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MyDrive/Colab Notebooks/DSF/

Mounted at /content/drive
/content/drive/MyDrive/Colab Notebooks/DSF

In [2]:
import pandas as pd
cluster = pd.read_csv('cluster_df.csv')
cluster_sorted = cluster.sort_values(by='Unnamed: 0')

In [3]:
interval = pd.read_csv('15구간2.csv')
interval_sorted = interval.sort_values(by='Unnamed: 0')

In [4]:
a = []
for word in cluster_sorted['Unnamed: 0']:
  a.append(word)

b = []
for word in interval_sorted['Unnamed: 0']:
  b.append(word)

c = []
for i in range(len(b)):
  if b[i] not in a:
    c.append(b[i])

In [5]:
interval_sorted2_2 = interval_sorted.drop(index = [3, 14, 18])

In [6]:
interval_sorted2_2 = interval_sorted2_2.reset_index()

In [7]:
interval_sorted2_2

,index,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,9구간,10구간,11구간,12구간,13구간,14구간,15구간
0,22,강남구,0,0,0,0,0,0,0,0,1,1,2,4,9,9,3
1,24,강동구,0,0,0,0,0,0,0,0,1,1,2,5,10,10,3
2,8,강북구,0,0,0,0,0,0,0,0,1,1,2,5,10,10,3
3,15,강서구,0,0,0,0,0,0,1,1,1,2,3,8,17,16,6
4,20,관악구,0,0,0,0,0,0,0,0,1,1,2,5,12,12,4
5,4,광진구,0,0,0,0,0,0,0,0,1,1,1,3,7,7,2
6,16,구로구,0,0,0,0,0,0,0,0,1,1,2,5,10,10,3
7,17,금천구,0,0,0,0,0,0,0,0,1,1,1,3,6,6,2
8,10,노원구,0,0,0,0,0,0,1,1,1,2,3,7,16,16,5
9,9,도봉구,0,0,0,0,0,0,0,0,1,1,2,4,9,9,3
10,5,동대문구,0,0,0,0,0,0,0,0,1,1,2,4,9,9,3
11,19,동작구,0,0,0,0,0,0,0,0,1,1,1,4,8,8,3
12,13,마포구,0,0,0,0,0,0,0,0,1,1,1,3,8,8,3
13,12,서대문구,0,0,0,0,0,0,0,0,1,1,1,3,7,7,2
14,21,서초구,0,0,0,0,0,0,0,0,1,1,1,3,6,6,2
15,7,성북구,0,0,0,0,0,0,0,0,1,1,2,5,10,10,3
16,23,송파구,0,0,0,0,0,0,0,0,1,1,2,5,11,11,4
17,2,용산구,0,0,0,0,0,0,0,0,0,0,1,2,5,5,2
18,11,은평구,0,0,0,0,0,0,0,0,1,1,2,6,12,12,4
19,0,종로구,0,0,0,0,0,0,0,0,0,0,1,2,3,3,1
20,1,중구,0,0,0,0,0,0,0,0,0,0,1,1,3,3,1
21,6,중랑구,0,0,0,0,0,0,0,0,1,1,2,5,12,12,4

In [10]:
cluster_sorted = cluster_sorted.reset_index()

In [11]:
cluster_sorted

,index,Unnamed: 0,#구역,0구역,1구역,2구역,0구역 비율,1구역 비율,2구역 비율,0구역 좌표,1구역 좌표,2구역 좌표
0,5,강남구,3,"['자곡동', '율현동', '수서동']","['삼성동', '역삼동', '논현동', '신사동', '청담동']","['일원동', '개포동', '대치동']",0.121498,0.434353,0.444149,"(127.10614439795955, 37.470920022515344)","(127.04550973042642, 37.505757876256496)","(127.07089573672334, 37.489977016481035)"
1,3,강동구,2,"['상일동', '강일동', '고덕동']","['길동', '천호동', '성내동', '명일동', '암사동']",NaN,0.298176,0.701824,NaN,"(127.17331445628949, 37.56089420666742)","(126.75927810972306, 37.49105440435414)","(127.13269176891738, 37.54055506263008)"
2,13,강북구,1,"['미아동', '수유동', '삼양동']",NaN,NaN,1.000000,NaN,NaN,"(127.01625047561637, 37.62099093780908)","(127.03263610967089, 37.61557651595893)","(127.02150425661185, 37.639483666116575)"
3,20,강서구,2,"['가양동', '염창동', '등촌동', '화곡동', '내발산동']",['공항동'],NaN,0.959352,0.040648,NaN,"(126.85527406978932, 37.554976852633)","(126.81979423835008, 37.56291625778691)",NaN
4,12,관악구,2,['봉천동'],['신림동'],NaN,0.478519,0.521481,NaN,"(126.95896293664869, 37.48218984300547)","(127.04512943579387, 37.250033573972196)","(126.91697260099855, 37.468138536190345)"
5,17,광진구,2,['구의동'],['화양동'],NaN,0.767001,0.232999,NaN,"(126.99765, 37.503423)","(126.373725, 36.633552)",NaN
6,10,구로구,3,"['도림동', '고척동']",['오류동'],"['항동', '천왕동', '개봉동', '온수동']",0.283964,0.184888,0.531148,"(126.87269123406165, 37.499247179132695)","(126.58188411027875, 37.717775528122274)","(126.83496383811062, 37.48366195184633)"
7,18,금천구,1,"['시흥동', '독산동']",NaN,NaN,1.000000,NaN,NaN,"(126.915626, 37.449877)",NaN,NaN
8,6,노원구,2,"['상계동', '중계동']",['공릉동'],NaN,0.793972,0.206028,NaN,"(127.07400738844085, 37.661403595133464)","(127.0538028182214, 37.68414153589406)","(127.06156295761386, 37.636307213993014)"
9,16,도봉구,3,['도봉동'],"['쌍문동', '방학동']",['창동'],0.149641,0.475708,0.374651,"(127.04848083756056, 37.6741512935112)","(127.02336783877521, 37.648681739016965)","(127.03252142855577, 37.670123260589996)"
10,4,동대문구,2,"['청량리동', '답십리동', '장안동', '휘경동', '전농동', '면목동', '...",['용두동'],NaN,0.922830,0.077170,NaN,"(127.05755193611947, 37.58130200869168)","(126.52327734065008, 33.50448669429715)","(126.37372500706047, 36.63355190807003)"
11,9,동작구,2,"['본동', '흑석동', '신대방동', '노량진동']",['상도동'],NaN,0.505411,0.494589,NaN,"(126.95231592925427, 37.50137184625171)","(127.47813569681881, 36.619119338286495)","(126.3336225327906, 36.78547218649276)"
12,1,마포구,2,"['공덕동', '상수동', '서교동', '대흥동', '현석동', '아현동', '신공...","['성산동', '상암동', '망원동', '연남동']",NaN,0.590265,0.409735,NaN,"(126.94331389920279, 37.54879054668452)","(126.95720243675639, 36.872209602537346)","(126.89405633633406, 37.5754203844663)"
13,7,서대문구,3,"['북가좌동', '연희동', '남가좌동']","['홍은동', '홍제동']","['냉천동', '현저동', '북아현동', '중림동']",0.470765,0.375577,0.153658,"(126.91895735821267, 37.57551050703756)","(126.94560556623844, 37.59232479042371)","(126.95780921708551, 37.56491766928719)"
14,2,서초구,3,"['우면동', '양재동', '잠원동']","['내곡동', '신원동']","['방배동', '서초동', '반포동']",0.278530,0.040783,0.680687,"(127.02492253006383, 37.46525861284838)","(127.0588342225653, 37.45116853543001)","(127.01102327652143, 37.49602830919166)"
15,21,성북구,2,"['돈암동', '길음동', '정릉동', '보문동', '성북동', '동소문동', '삼...","['종암동', '장위동', '석관동', '상월곡동', '하월곡동']",NaN,0.509738,0.490262,NaN,"(127.01749142628617, 37.60226170866891)","(127.43768113830744, 36.31401587189976)","(127.04551435927605, 37.60968664117557)"
16,8,송파구,2,"['마천동', '풍납동', '오금동', '거여동']",['장지동'],NaN,0.790709,0.209291,NaN,"(127.12764348591766, 37.49354373597786)","(127.73432023800228, 34.75394380230205)","(127.83998691441752, 36.810384197323025)"
17,19,용산구,1,"['신계동', '효창동', '한강로동']",NaN,NaN,1.000000,NaN,NaN,"(127.159832, 37.498478)",NaN,NaN
18,0,은평구,3,['진관동'],"['응암동', '수색동', '신사동', '역촌동', '구산동']","['녹번동', '불광동', '대조동']",0.153865,0.487982,0.358152,"(126.92431215575408, 37.63973174333606)","(126.91239261771739, 37.592639124100025)","(126.93257292557561, 37.606577243788365)"
19,15,종로구,2,"['무악동', '행촌동']",['충신동'],NaN,0.811837,0.188163,NaN,"(126.96086357089627, 37.57387185674186)","(127.00781209286387, 37.575959457060584)",NaN
20,14,중구,2,"['중림동', '만리동']","['신당동', '황학동']",NaN,0.070164,0.929836,NaN,"(126.96327071413242, 37.55450208643459)","(127.01813811000565, 37.560016156697294)",NaN
21,11,중랑구,3,"['상봉동', '중화동', '묵동']",['신내동'],['면목동'],0.419018,0.173831,0.407151,"(127.08320410170386, 37.60205819385432)","(127.10987660557274, 37.61713892111174)","(127.08424195353611, 37.577791208829744)"

In [12]:
# 구역별 비율*구간별 인원

for i in range(3):
  for j in range(1, 16):
    interval_sorted2_2[f'{i}구역 {j}구간'] = cluster_sorted[f'{i}구역 비율'] * interval_sorted2_2[f'{j}구간']

In [13]:
interval_sorted2_2

,index,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,...,2구역 6구간,2구역 7구간,2구역 8구간,2구역 9구간,2구역 10구간,2구역 11구간,2구역 12구간,2구역 13구간,2구역 14구간,2구역 15구간
0,22,강남구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.444149,0.444149,0.888298,1.776596,3.997342,3.997342,1.332447
1,24,강동구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,강북구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,강서구,0,0,0,0,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,관악구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,광진구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,16,구로구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.531148,0.531148,1.062296,2.655741,5.311482,5.311482,1.593444
7,17,금천구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10,노원구,0,0,0,0,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,도봉구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.374651,0.374651,0.749301,1.498603,3.371856,3.371856,1.123952
10,5,동대문구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,19,동작구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,마포구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12,서대문구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.153658,0.153658,0.153658,0.460975,1.075609,1.075609,0.307317
14,21,서초구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.680687,0.680687,0.680687,2.042061,4.084122,4.084122,1.361374
15,7,성북구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,23,송파구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2,용산구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11,은평구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.358152,0.358152,0.716305,2.148915,4.297830,4.297830,1.432610
19,0,종로구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1,중구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,6,중랑구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.407151,0.407151,0.814302,2.035756,4.885813,4.885813,1.628604

In [14]:
monthly = pd.read_csv('2022년 1_15구간별 월 한도액, 시간.csv', encoding='cp949')

In [15]:
import numpy as np

inte = np.ceil(interval_sorted2_2.loc[:, ['0구역 1구간', '1구역 1구간', '2구역 1구간']].max(axis=1))
inte_p = interval_sorted2_2.loc[:, ['0구역 1구간', '1구역 1구간', '2구역 1구간']].idxmax(axis=1)

for i in range(22):
  interval_sorted2_2.loc[i, inte_p[i]] = inte[i]

interval_sorted2_2 = interval_sorted2_2.round(0)

In [16]:
interval_sorted2_2

,index,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,...,2구역 6구간,2구역 7구간,2구역 8구간,2구역 9구간,2구역 10구간,2구역 11구간,2구역 12구간,2구역 13구간,2구역 14구간,2구역 15구간
0,22,강남구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,4.0,4.0,1.0
1,24,강동구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,강북구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,강서구,0,0,0,0,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,관악구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,광진구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,16,구로구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,3.0,5.0,5.0,2.0
7,17,금천구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10,노원구,0,0,0,0,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,도봉구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,3.0,1.0
10,5,동대문구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,19,동작구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,마포구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12,서대문구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
14,21,서초구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,2.0,4.0,4.0,1.0
15,7,성북구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,23,송파구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2,용산구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11,은평구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,4.0,4.0,1.0
19,0,종로구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1,중구,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,6,중랑구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,5.0,5.0,2.0

In [17]:
interval_sorted2_2 = interval_sorted2_2.fillna(0)

g = []
for i in range(3):
  for j in range(1, 16):
    interval_sorted2_2[f'{i}구역 1구간']*monthly['시간'][0]

In [18]:
for i in range(3):
  interval_sorted2_2[f'{i}구역 총 시간'] = interval_sorted2_2[f'{i}구역 1구간']*monthly['시간'][0]+interval_sorted2_2[f'{i}구역 2구간']*monthly['시간'][1]+interval_sorted2_2[f'{i}구역 3구간']*monthly['시간'][2]+interval_sorted2_2[f'{i}구역 4구간']*monthly['시간'][3]+interval_sorted2_2[f'{i}구역 5구간']*monthly['시간'][4]+interval_sorted2_2[f'{i}구역 6구간']*monthly['시간'][5]+interval_sorted2_2[f'{i}구역 7구간']*monthly['시간'][6]+interval_sorted2_2[f'{i}구역 8구간']*monthly['시간'][7]+interval_sorted2_2[f'{i}구역 9구간']*monthly['시간'][8]+interval_sorted2_2[f'{i}구역 10구간']*monthly['시간'][9]+interval_sorted2_2[f'{i}구역 11구간']*monthly['시간'][10]+interval_sorted2_2[f'{i}구역 12구간']*monthly['시간'][11]+interval_sorted2_2[f'{i}구역 13구간']*monthly['시간'][12]+interval_sorted2_2[f'{i}구역 14구간']*monthly['시간'][13]+interval_sorted2_2[f'{i}구역 15구간']*monthly['시간'][14]

In [19]:
interval_sorted2_2

,index,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,...,2구역 9구간,2구역 10구간,2구역 11구간,2구역 12구간,2구역 13구간,2구역 14구간,2구역 15구간,0구역 총 시간,1구역 총 시간,2구역 총 시간
0,22,강남구,0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,2.0,4.0,4.0,1.0,210.0,1380.0,1380.0
1,24,강동구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1020.0,2820.0,0.0
2,8,강북구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3840.0,0.0,0.0
3,15,강서구,0,0,0,0,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6600.0,210.0,0.0
4,20,관악구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1860.0,2460.0,0.0
5,4,광진구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2100.0,570.0,0.0
6,16,구로구,0,0,0,0,0,0,0,0,...,1.0,1.0,1.0,3.0,5.0,5.0,2.0,1020.0,630.0,2250.0
7,17,금천구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2460.0,0.0,0.0
8,10,노원구,0,0,0,0,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5460.0,1020.0,0.0
9,9,도봉구,0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,1.0,3.0,3.0,1.0,360.0,1380.0,1020.0
10,5,동대문구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3270.0,210.0,0.0
11,19,동작구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1890.0,1200.0,0.0
12,13,마포구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2100.0,840.0,0.0
13,12,서대문구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,840.0,840.0,210.0
14,21,서초구,0,0,0,0,0,0,0,0,...,1.0,1.0,1.0,2.0,4.0,4.0,1.0,630.0,0.0,1830.0
15,7,성북구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2250.0,1590.0,0.0
16,23,송파구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3480.0,630.0,0.0
17,2,용산구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,0.0
18,11,은평구,0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,2.0,4.0,4.0,1.0,630.0,2010.0,1380.0
19,0,종로구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,960.0,210.0,0.0
20,1,중구,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1020.0,0.0
21,6,중랑구,0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,2.0,5.0,5.0,2.0,1650.0,630.0,1650.0

In [20]:
interval_sorted2_2.to_csv('./interval_sorted2_2.csv', index='False')